<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">

<div layout:fragment="content" class="m-4">
    <div sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-primary"  th:href="@{/admin/add}">Add product</a>
    </div>

    <table class="table mt-4">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th sec:authorize="hasRole('ADMIN')">Action</th>
        </tr>

        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price} + ' dh'"></td>
            <td th:text="${p.quantity}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/admin/delete(id=${p.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>

    </table>

</div>
</html>